{% extends '::layout.html.twig' %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block headerTitle %}
    <big>Check ton verre !</big>&nbsp;
    Clic ton drink...&nbsp;
    <small>Tips :)</small>&nbsp;
{% endblock headerTitle %}

{% block content %}
    
    <!--  Row for 6 buttons-->
    <div class="row">
    {% for drink in drinks %}
        <div class="col-md-2 portfolio-item text-center">
            <a href="{{ path('order', {'id': drink.id }) }}" class="btn btn-primary btn-lg" role="button">{{ drink.getName() }}</a>
        </div>
    {% endfor %}
    </div>
    <!-- /.row -->

    
{#    <hr>

    {% block pagination %}
    <!-- Pagination -->
    <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /.row -->
    {% endblock pagination %}#}
{% endblock content %}